[Unit]
Description="Private, Fast, Reliable DevOps Platform"
{% if gitea_db_backend != "sqlite" %}
Requires=gitea-db.service
After=gitea-db.service
{% endif %}

[Container]
ContainerName=gitea
{% if gitea_db_backend == "psql" %}
Environment=GITEA__database__DB_TYPE=postgres
Environment=GITEA__database__HOST=127.0.0.1:5432
{% elif gitea_db_backend == "mysql" %}
Environment=GITEA__database__DB_TYPE=mysql
Environment=GITEA__database__HOST=127.0.0.1:3306
{% endif %}
Environment=GITEA__database__NAME=gitea
Environment=GITEA__database__USER=gitea
Environment=GITEA__database__PASSWD=gitea
AutoUpdate=registry
Image=docker.io/gitea/gitea:{{ gitea_version }}
Pod=gitea.pod
Volume={{ gitea_data_path }}:/var/lib/gitea{% if gitea_data_label|length > 0 %}:{{ gitea_data_label }}{% endif %}

Volume={{ gitea_config_path }}:/etc/gitea{% if gitea_config_label|length > 0 %}:{{ gitea_config_label }}{% endif %}

{% for gitea_var in gitea_additional_options %}
{{ gitea_var }}
{% endfor %}

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target