[Unit]
Description="An open-source relational database management system"

[Container]
Environment=MYSQL_ROOT_PASSWORD=gitea
Environment=MYSQL_USER=gitea
Environment=MYSQL_PASSWORD=gitea
Environment=MYSQL_DATABASE=gitea
Image=docker.io/mysql:8
Pod=gitea.pod
Volume={{ gitea_db_path }}:/var/lib/postgresql/data{% if gitea_db_label|length > 0 %}:{{ gitea_db_label }}{% endif %}

{% for gitea_db_var in gitea_db_additional_options %}
{{ gitea_db_var }}
{% endfor %}

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target